<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- FOOTER -->
  <th:block th:fragment="footer">
    <footer id="footer">
      <div class="container">
        <div class="row">

          <div class="col-sm-6">
            <div class="footer-info">
              <div class="section-title">
                <h2>Trụ sở chính</h2>
              </div>
              <address>
                <p>273 An Dương Vương, <br> Phường 3, Quận 5, Thành phố Hồ Chí Minh 700000</p>
              </address>

              <ul class="social-icon">
                <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-instagram"></a></li>
              </ul>

              <div class="copyright-text">
                <p>Copyright &copy; 2021 Lucifer</p>

                <p>Design: William Crowley</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="footer-info">
              <div class="section-title">
                <h2>Thông tin liên lạc</h2>
              </div>
              <address>
                <p>+84 28 3835 4409</p>
                <p><a href="mailto:youremail.co">sdh@sgu.edu.vn</a></p>
              </address>

              <div class="footer_menu">
                <h2>Liên kết nhanh</h2>
                <ul>
                  <li><a th:href="@{/}">Trang chủ</a></li>
                  <li><a th:href="@{/exam-courses}">Khoá thi</a></li>
                  <li><a th:href="@{/exam-rooms/examines}">Xem phòng thi</a></li>
                  <li><a th:href="@{/exam-rooms/details}">Xem DS dự thi</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </footer>
  </th:block>

</body>
</html>