<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <th:block th:fragment="scripts">
        <script th:src="@{/js/jquery.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/owl.carousel.min.js}"></script>
        <script th:src="@{/js/smoothscroll.js}"></script>
        <script th:src="@{/js/custom.js}"></script>
    </th:block>

    <!--    Extra Scripts-->
    <th:block th:fragment="extra_scripts">
        <!-- Paganition table-->
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.2/datatables.min.js"></script>
        <script type="text/javascript"  th:src="@{/js/pagination.js}"></script>
    </th:block>

</body>
</html>