<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: html_head(headTitle = 'Trang chủ')"></head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<th:block th:replace="fragments/header :: preloader"></th:block>


<div th:replace="fragments/header :: navbar"></div>


<!-- HOME -->
<section id="home">
    <div class="row">

        <div class="owl-carousel owl-theme home-slider">
            <div class="item item-first" th:style="'background:url('+ @{/images/slider-image1.jpg} +');'">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Đăng ký thi trực tuyến</h1>
                            <h3>Hoàn thành kì thi để có cơ hội nhận được chứng chỉ Tiếng Anh A2, B1.</h3>
                            <a th:href="@{/exam-courses}" class="section-btn btn btn-default smoothScroll">Tham gia ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- FEATURE -->
<section id="feature">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>01</span>
                    <h3>Chất lượng giảng dạy chuẩn quốc tế</h3>
                    <p>Được tổ chức NEAS chứng nhận chất lượng giảng dạy và dịch vụ đạt chuẩn quốc tế.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>02</span>
                    <h3>Đội ngũ giảng dạy chuyên môn cao</h3>
                    <p>Gần 2.000 giáo viên bản xứ và Việt Nam, 100% có bằng giảng dạy Anh ngữ theo tiêu chuẩn quốc tế.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>03</span>
                    <h3>Chương trình học đa dạng</h3>
                    <p>Chương trình học được thiết kế riêng cho từng độ tuổi và nhu cầu từ trẻ em mẫu giáo đến người lớn bận rộn.</p>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- TEAM -->
<section id="team">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Đội ngũ giáo viên <small>Gặp gỡ đội ngũ giảng dạy chuyên nghiệp</small></h2>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img th:src="@{/images/author-image1.jpg}" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Mark Wilson</h3>
                        <span>I love Teaching</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img th:src="@{/images/author-image2.jpg}" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Catherine</h3>
                        <span>Education is the key!</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-google"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img th:src="@{/images/author-image3.jpg}" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Jessie Ca</h3>
                        <span>I like Online Courses</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-envelope-o"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="team-thumb">
                    <div class="team-image">
                        <img th:src="@{/images/author-image4.jpg}" class="img-responsive" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Andrew Berti</h3>
                        <span>Learning is fun</span>
                    </div>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-google"></a></li>
                        <li><a href="#" class="fa fa-behance"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Courses -->
<section id="courses">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Các khóa thi có thể đăng ký <small>Tham gia ngay các khóa thi đang mở</small></h2>
                </div>

                <div class="owl-carousel owl-theme owl-courses">

                    <th:block th:if="${examCourses != null}">
                        <th:block th:each="course : ${examCourses}">
                            <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="courses-thumb">
                                        <div class="courses-top">
                                            <div class="courses-image">
                                                <img th:src="@{/images/course-image.jpg}" class="img-responsive" alt="">
                                            </div>
                                            <div class="courses-date">
                                                <span><i class="fa fa-calendar"></i> 1 / [[${course.month}]] / [[${course.year}]]</span>
                                            </div>
                                        </div>

                                        <div class="courses-detail">
                                            <h3><a href="#">Khoá thi [[${course.name}]]</a></h3>
                                            <p>Khoá thi tháng [[${course.month}]] / [[${course.year}]]. Có thể nhận chứng chỉ trình độ [[${course.englishLevel.name}]] khi bài thi đạt đủ chỉ tiêu</p>
                                        </div>

                                        <div class="courses-info text-right">
                                            <a th:href="@{|/exam-courses/enroll/${course.id}|}" class="btn btn-success courses-enroll-btn"><span>Đăng ký</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </th:block>

                </div>

            </div>
        </div>
    </div>
</section>

<th:block th:replace="fragments/footer :: footer"></th:block>


<!-- SCRIPTS -->
<th:block th:replace="fragments/script :: scripts"></th:block>

</body>
</html>